<div class="template-success-container">
  <button mat-button (click)="goBack()" class="back-button">
    <mat-icon>arrow_back</mat-icon> Back
  </button>
  <div class="header-container">
    <div class="header-image-container">
      <img class="shiksha-logo" src="../../../../assets/Images/shikshalokam-logo.png" alt="">
    </div>
  </div>
  <div class="success-container">
    <mat-card class="template-card">
      <mat-card-content class="template-section">
        <div class="export-container">
          <div>
            <p class="congrats-message">Solution created successfully</p>
            <h2>Solution Id : {{ this.solutionId }}</h2>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
