.validation-pass {
  color: green;
}

.validation-failed {
  color: red;
}

.shiksha-logo {
  height: 70px;
  padding-left: 30px;
}
.header-container {
  height: 10%;
  display: grid;
  box-shadow: 3px 3px 3px 3px rgb(224, 223, 223);
  grid-template-columns: 80% 20%;
}
.log-out {
  padding-top: 20px;
  text-align: center;
  align-items: center;
}

.back-button-container {
  display: flex;
  margin: 30px 30px 0;
  align-items: center;
  cursor: pointer;
}

.back-button-container mat-icon {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid;
  cursor: pointer;
}

.back-button-container p {
  margin-top: 15px;
  margin-left: 15px;
  cursor: pointer;
}

.export_div {
  padding-bottom: 20px;
}

.validation-result {
  padding-top: 2%;
  padding-left: 2%;
  width: 250px;
  font-size: large;
  font-weight: 500;
}

.download_div {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  position: absolute;
  top: 10%;
  right: 2%;
}

.export-button {
  width: 250px;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(0, 116, 182, 1) !important;
  padding: 0 70px;
  color: white !important;
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 93%;
}

.arrayOfSheet_div {
  position: sticky;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.arrayOfSheet {
  border: solid 1px #bcb7b7;
  border-radius: 20px;
  padding: 4px 36px;
}

.active {
  background-color: rgb(0, 116, 182, 1) !important;
  color: white;
}

.table_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
}

table {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.m-t-xl {
  margin-top: 40px;
  margin-bottom: 40px;
}

.normal-table-heading {
  margin-top: 40px;
}

.normal-table th {
  text-align: right;
  padding: 8px;
  color: green;
}

.normal-table td {
  padding: 8px;
}

.mat-header-cell {
  color: #a8a8a8;
  font-style: italic;
  font-size: 10px;
  font-weight: 300;
}

.mat-cell, .mat-header-cell {
  font-size: 14px;
  min-height: 48px;
  text-align: center;
  border-right: 1px solid #b8b4b4;
}

.selected {
  border: 1px solid red;
  color: red;
}

.basic-error {
  border: 1px solid red;
  color: red;
}

.m-4 {
  margin: 0 16px 16px 16px;
}

.my-tooltip {
  white-space: pre-line;
}

.mat-icon-info {
  position: relative;
  padding-left: 10px;
  top: 7px;
}

.close-icon {
  display: flex;
  justify-content: flex-end;
  padding: 15px 15px 10px 0;
}

.mat-icon-content-copy {
  padding-right: 10px;
}

.selectedFirstRow {
  color: rgb(0, 0, 0);
  font-weight: 500;
}
