table {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  border-radius: 20px;
}

.table-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  color:rgb(0, 116, 182, 1) !important;
}

h2 {
  flex: auto;
  text-align: center;
  justify-content: center;
  margin-left: 20%;
}

.search-field {
  width: 300px; /* Adjust width as needed */
  padding: 30px;
}

th{
  background-color: rgb(0, 116, 182, 1) !important;
  color: #ffffff;
  font-weight: bold;
}
.mat-elevation-z8 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 130px;
  margin-right: 130px;
  margin-top: 30px;
}

mat-header-cell {
  background-color: #f5f5f5;
  font-weight: bold;
}

mat-cell {
  background-color: #ffffff;
}

mat-row:hover {
  background-color: #f1f1f1;
}

mat-icon-button {
  color: #555;
}

mat-icon-button:hover {
  color: #000;
}

mat-paginator {
  background-color: #fafafa;
  border-top: 1px solid #e0e0e0;
}